extends layout 

block content 

  h1 #{instrument.name}
  p #[strong Brand: ]
    a(href=instrument.brand.url) #{instrument.brand.name}
  img(src=instrument.imageURL alt=instrument.name)
  p #[strong Type: ] 
    a(href=instrument.type.url) #{instrument.type.name}
  p #[strong Number in stock: ] #{instrument.numberInStock}
  p #[strong Description: ] #{instrument.description}

  hr
  form(method='POST' action=`${instrument.url}?_method=DELETE`)
    div.form-group
      input#instrumentid.form-control(type="hidden", name="instrumentid", required="true", value=instrument._id)
    button(action='submit') Delete Instrument